.my-hr-line {
  margin: 0;
  position: relative;
  left: -15px;
  width: calc(100% + 15px);
  height: 3px;
  color: #8b49a1;
  background-color: #8b49a1;
}

.bg-dark1 {
  background: transparent;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.themecolor a {
  background: #8b49a1;
}
